SHELL=/usr/bin/bash
PATH=/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:
#------------------------------------------------------------------------------
#0-59 0-23 1-31 1-12 1-7 Command
#------------------------------------------------------------------------------
# 4x / hr
0,20,40 *    *    *    *   /home/kahn/ooi/api/ooiData.sh
0,20,40 *    *    *    *   /home/kahn/ooi/ftp/ooiftp.sh
4,24,44 *    *    *    *   /home/kahn/ooi/rsn/CheckStatus.sh
5,25,45 *    *    *    *   /home/kahn/ooi/rsn/ProcessBOTPTdata.job 
5,25,45 *    *    *    *   /home/kahn/ooi/rsn/ProcessCTDdata.job 
# daily
10    00     *    *    *   /home/kahn/ooi/api/cleanup.sh
10    16     *    *    *   /home/kahn/ooi/bin/checkRSNhung.sh
10    17     *    *    *   /home/kahn/ooi/rsn/RunDay.sh
# see <Readme.RunJobs.txt>
# root crontab
#59   *     *    *    *   /home/kahn/ooi/bin/checkReboot.sh
